// Menu Button
.menu-btn{
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include easeOut;

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #FFF;
    @include easeOut;
  }


  // Rotate Into X With Menu Lines
  &.close{
    transform: rotate(180deg);
  
    .btn-line{
      // Line 1 - Rotate
      &:nth-child(1){
        transform: rotate(45deg) translate(5px, 5px);
      }

      // Line 2 - Hide
      &:nth-child(2){
        opacity: 0;
      }

      // Line 3 - Rotate
      &:nth-child(3){
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }
}

// Menu Overlay
.menu{
  position: fixed;
  top:0;
  width: 100%;
  opacity:0.9;
  visibility: hidden;//メニュー表示を消しておく

  &.show{
    visibility: visible;//showクラスが付与されると見えるようになる
  }

  &-branding,
  &-nav {// .menu-branding, .menu-navクラスを指定
    display:flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;//スクロールバーは不要なので設定
  }

  &-nav {
    margin: 0;
    padding: 0;
    background: darken($primary-color, 5);//ちょっと暗めにする
    list-style: none;
    transform: translate3d(0,-100%, 0);//上から降りてくる
    @include easeOut;

    &.show {
      // Slide in from top
      transform: translate3d(0, 0, 0);
    }
  }

  // Branding Side
  &-branding{
    background: $primary-color;
    transform: translate3d(0, 100%,0);//下から上がってくる
    @include easeOut;

    &.show{
      // Slide in from bottom
      transform: translate3d(0,0,0);
    }

    .portrait {
      width: 250px;
      height: 250px;
      background: url('../img/portrait.jpg');
      background-size:cover;
      border-radius: 50%;
      border: solid 3px $secondary-color;
    }
  }

  .nav-item {//menuの各項目が右からスライドイン
    transform: translate3d(600px,0,0);
    @include easeOut;
    &.show{
      // Slide in from right
      transform: translate3d(0,0,0);
    }

    &.current > a {
      color: $secondary-color;
    }
  }

  .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    @include easeOut;

    &:hover {
      color: $secondary-color;//ホバー時にメニューの色が変わる
    }
  }
}


// Delay each nav item slide by 0.1s
@for $x from 1 through 4 {// for(let x =0; i < 4; i++)と同じ意味
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x *0.1s;
  }
}